body {
    background: #1f1f1f;
    color: gainsboro;
}

.mov_item {
    background: #626263;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

#test div::before {
    content: 'tk';
    background-color: rgb(235, 129, 187);
    border-radius: 10px;
    padding: 5px;
    position: inherit;
}