body {
    background: #1f1f1f;
    color: gainsboro;
    font-family: 'Thasadith', sans-serif;
}

.hf_tit {
    text-align: center;
    font-weight: 1000;
}

.mov_item {
    background: #626263;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
 .mov_item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }

.input-group {
    padding: 10px;
}

#mov_list li::before {
    display: inline-block;
    content: 'tk';
    background-color: rgb(235, 129, 187);
    border-radius: 50%;
    position: inherit;
    height: 2em;
    width: 2em;
    line-height: 2em;
    margin-right: 0.5em;
    text-align: center;
}

#mov_list span#dwn {
    position: absolute;
    right: 10px;
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    cursor: pointer;
}

#mov_list .mov_item:hover span#dwn {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

#mov_list .progress {
    height: 0.2rem;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-left: -10px;
}